/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('woff2');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('woff2');
  }

  @font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('woff2');
  }